@import "tailwindcss";

@font-face {
    font-family: "koodak";
    src: url("/fonts/Vazirmatn-Regular.ttf") format("truetype");
   
  }
@font-face {
    font-family: "koodak-bold";
    src: url("/fonts/vazirmatn-Bold.ttf") format("truetype");
  }

html,body{
    direction: rtl;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}